TPS54202DDCR (voltage regulator 12 to 5)---> https://www.snapeda.com/parts/TPS54202DDCR/Texas%20Instruments/view-part/

BMI088 (ivme ölçer) ---> https://www.snapeda.com/parts/BMI088/Bosch%20Sensortec/view-part/

BMP388 (barometre) ---> https://www.snapeda.com/parts/BMP388/Bosch%20Sensortec/view-part/

BMM150 (pusula) ---> https://www.snapeda.com/parts/BMM150/Bosch%20Sensortec/view-part/

nRF21540 (sinyal yükseltici) https://www.snapeda.com/parts/nRF21540-QDAA-R7/Nordic%20Semiconductor/view-part/

MBR120VLSFT1G ----> https://www.snapeda.com/parts/MBR120VLSFT1G/ON%20Semiconductor/view-part/?welcome=home&ref=search&t=MBR120VLSFT1G 




